.searchText {
  color: #566475;
  font-size: 14px;
}

.placeholderStyle {
  color: #566475;
}

.CustomizeSelect {
  background-color: #ffffff;
  width: 200px;
}

.styledClearIcon {
  margin-right: 32px;
}
.styledOptionText {
  font-size: 12px;
}
