.fieldContainerStyle {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.fieldContainerNoMarginStyle {
  display: flex;
  flex-direction: column;
}

.labelText {
  color: #566475;
  font-size: 14px;
}

.styledRequired {
  color: #ff6262;
}

.dateStyle {
  background-color: #ffffff;
}

.styledError {
  color: #d32f2f;
  font-size: 12px;
}

