.fieldContainerStyle {
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
}

.labelText {
  color: #566475;
  font-size: 14px;
}

.styledRequired {
  color: #ff6262;
}

.dateStyle {
  background-color: #ffffff;
}

.styledError {
  color: #d32f2f;
  margin-left: 12px;
  font-size: 12px;
}

.startDateStyle {
  margin-right: 4px;
}
