.listHeader {
  display: flex;
  background-color: #ffffff;
  height: 8vh;
  justify-content: space-between;
  align-items: center;
  padding: 0px 12px;
  border-bottom: 1px solid #c5cfde;
}

.houseBankCode {
  cursor: pointer;
  font-size: 14px;
  color: #465465;
  width: 10%;
}

.bankCode {
  cursor: pointer;
  font-size: 14px;
  color: #465465;
  width: 10%;
}

.branchName {
  cursor: pointer;
  font-size: 14px;
  color: #465465;
  width: 10%;
}

.accountNumber {
  cursor: pointer;
  font-size: 14px;
  color: #465465;
  width: 10%;
}

.actionCell {
  display: flex;
  align-items: center;
  width: 10%;
}

.createdAt {
  font-size: 14px;
  color: #465465;
  width: 15%;
}
.updatedAt {
  font-size: 14px;
  color: #465465;
  width: 15%;
}

.StatusCell {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #465465;
  width: 10%;
}

.styledActiveSelect {
  font-size: 14px;
}

.infoIconStyle {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  font-size: x-large;
}

.iconStyle {
  font-size: 40px;
  color: #fd6262;
}

.styledText {
  font-size: 16px;
  color: #465465;
}
.SubmitContainer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.styledButton {
  margin-left: 12px !important;
}
