.signIN {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  width: 100%;
}

.welcomeStyle {
  text-align: center;
  color: #175ec4;
  font-size: 24px;
  font-family: sans-serif;
}

.userManagementText {
  color: #18478b;
  font-size: 30px;
  font-weight: 600;
}

.styledText {
  font-size: 12px;
  color: #566475;
  margin-bottom: 4px;
}

.styledLoginText {
  color: #465465;
  text-align: center;
  margin-bottom: 16px;
}

.fieldStyle {
  margin-bottom: 8px;
}

.styledError {
  color: #fd6262;
  font-size: 12px;
}

.styledButton {
  width: 100%;
}

.imageStyle {
  background-color: #185ec4;
  width: 100%;
}

@media (max-width: 600px) {
  .imageStyle {
    display: none;
  }
}

.signupText {
  font-size: 16px;
}

.signupLink {
  color: #185ec4;
  text-decoration: underline;
  cursor: pointer;
}

.boxStyle {
  display: flex;
}
.loginTextContainer {
  text-align: center;
}

.textFieldStyle {
  width: 300px;
}
