.headerTextOTP {
  color: #465465;
  opacity: 70%;
  font-size: 14px;
}

.enableStyle {
  font-size: 14px;
}

.dataListStyle {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
}

.switchStyle {
  width: 20%;
}
