.createNewUserContainer {
  background-color: #ffffff;
  box-shadow: 0px 6px 12px #185ec414;
  border-radius: 12px;
  height: 100%;
  min-height: 80vh;
  margin-bottom: 20px;
}

.formHeaderStyle {
  padding: 16px 0px 0px 8px;
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid #c5cfde;
  height: 80px;
}

.subHeader {
  display: flex;
  align-items: center;
}

.headerTextStyle {
  margin-left: 12px;
  font-size: 18px;
  color: #465465;
  font-weight: 600;
}

.fieldContainerStyle {
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
}

.labelText {
  color: #566475;
  font-size: 14px;
}

.styledRequired {
  color: #ff6262;
}

.customizeSelect {
  background-color: #ffffff;
  min-width: 520px; /* Set the maximum width to 300px */
  font-size: 14px !important;
  height: 40px;
}

.customizePrivilegeSelect {
  background-color: #ffffff;
  width: 100%; /* Set the width to 100% initially */
  max-width: 500px; /* Set the maximum width to 600px */
  min-width: 150px;
  font-size: 14px !important;
  height: 40px;
}

@media (min-width: 768px) {
  /* Adjust width for larger screens */
  .customizeSelect {
    max-width: 400px; /* Adjust maximum width for larger screens */
  }

  .customizePrivilegeSelect {
    max-width: 900px; /* Adjust maximum width for larger screens */
    min-width: 400px;
  }
}

.styledError {
  color: #fd6262;
  font-size: 12px;
}

.containerStyle {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.styledButton {
  width: 15%;
}

.headerTextStyleOTP {
  padding: 20px;
  border-bottom: 1px solid #60708333;
}

.headerTextOTP {
  color: #465465;
  opacity: 70%;
  font-size: 14px;
}
.setOTPHeader {
  color: #465465;
  font-size: 18px;
}

.fieldStyle {
  display: flex;
  flex-wrap: wrap;
}

.dateStyle {
  width: 520px;
  background-color: #ffffff;
}
