.styledText {
  color: #18478b;
  size: 18px;
  /* font: normal normal 600 18px/24px Poppins; */
  margin-bottom: 16px;
}

.IconContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.StyledIcon {
  margin: 16px 0px;
}
.StyledSearch {
  margin: 12px 8px;
}
