.styledText {
  color: #18478b;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}

.IconContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.StyledIcon {
  margin: 16px 0px;
}
.StyledSearch {
  margin: 12px 8px;
}

.navbarIcon {
  font-size: 20px;
}

.navbarText {
  font-family: sans-serif;
  font-size: 14px !important;
}

.selectedButton {
  color: #185ec4;
  background-color: #f2f7ff;
  border-left: 4px solid #185ec4;
}
