.styledSearch {
  display: flex;
  border: 1px solid #c5cfde;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  width: 100%;
}
.styledInput {
  border: none;
}
.styledInput:focus-visible {
  outline: none;
}
.styleColor {
  color: #c5cfde;
}
