.buttonTextStyle {
  font-size: 14px !important;
}

.Container {
  display: flex;
  justify-content: space-between;
}

.dateContainer {
  display: flex;
  align-items: center;
}

.startDateStyle {
  margin-right: 4px;
}

.labelText {
  color: #566475;
  font-size: 14px;
}

.styledRequired {
  color: #ff6262;
}

.dateStyle {
  width: 210px;
  background-color: #ffffff;
}
