// Use this Breakpoints only
$breakpoint-xs: 0;
$breakpoint-sm: 600px;
$breakpoint-md: 900px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1536px;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.label-text {
  color: #566475;
  font-size: 14px;
}

.required-field:after {
  content: '*';
  color: #ff6262;
  padding-left: 0.25rem;
}

.customize-select {
  background-color: #ffffff;
  font-size: 14px !important;
  min-height: 40px;
}

.error-msg {
  color: #d32f2f;
  font-size: 12px;
}

.label {
  color: #465465;
  font-size: 0.75rem;
}

.selected {
  filter: invert(88%) sepia(58%) saturate(920%) hue-rotate(180deg) brightness(100%) contrast(66%);
}
