.searchText {
  color: #566475;
  font-size: 14px;
}

.placeholderStyle {
  color: #566475;
}

.customizeSelect {
  background-color: #ffffff;
  width: 200px;
  font-size: 14px !important;
}

.styledClearIcon {
  margin-right: 32px;
}
.styledOptionText {
  font-size: 14px !important;
}
.textFieldStyle {
  background-color: #ffffff;
  margin: 0px 12px !important;
}
.selectContainer {
  display: flex;
  justify-content: space-between;
}

.exportButtonStyle {
  margin-right: 12px !important;
}
