.logoutButton {
  color: #465465 !important;
  font-size: 12px !important;
  font-weight: 600 !important;
}

.styledName {
  color: #465465;
  font-weight: 600;
  font-size: 12px;
}
.styledRole {
  color: #607083;
  font-size: 10px;
}

.lineStyle {
  height: 36px;
  margin: 0 12px;
  border-right: 2px solid #607083;
  opacity: 0.1;
}

.userManagementText {
  color: #465465;
  font-size: 22px;
  font-weight: 600;
}
