.mainContainer {
  display: flex;
}

.main {
  flex-grow: 1;
  padding: 20px;
  background-color: #f7faff;
  margin-top: 60px;
  height: 100vh;
}

@media (min-width: 600px) {
  .main {
    width: calc(100% - 240px);
  }
}
