.tableHeader {
  display: flex;
  background-color: #ffffff;
  justify-content: space-between;
  height: 60px;
  box-shadow: 0px 6px 12px #185ec414;
  border-radius: 12px 12px 0px 0px;
  align-items: center;
  padding: 0px 12px;
  border-bottom: 2px solid #60708333;
}

.tableCell {
  font-size: 14px;
  color: #465465;
  font-weight: 600;
}

.nameCell {
  font-size: 14px;
  color: #465465;
  font-weight: 600;
  width: 20%;
  cursor: pointer;
}

.privilegeTypeCell {
  cursor: pointer;
  font-size: 14px;
  color: #465465;
  font-weight: 600;
  width: 8%;
}

.privilegeStatusCell {
  font-size: 14px;
  color: #465465;
  font-weight: 600;
  width: 15%;
}

.actionCell {
  font-size: 14px;
  color: #465465;
  font-weight: 600;
  width: 6%;
}

.createdAt {
  font-size: 14px;
  color: #465465;
  font-weight: 600;
  width: 15%;
  cursor: pointer;
}

.updatedAt {
  font-size: 14px;
  color: #465465;
  font-weight: 600;
  width: 15%;
  cursor: pointer;
}
