.tableStyled {
  margin: 20px 0px;
}

/* .pageFooter {
  display: flex;
  justify-content: flex-end;
} */

.marginFotter {
  margin-bottom: 20px !important;
}

.tableContainerStyle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: #f7faff;
}

.pageFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
}

.totalRecordStyle {
  font-size: 12px;
  color: #607083;
  margin-right: 4px;
}

.rowsPerPage {
  display: flex;
  align-items: center;
}

.customizeRowsSelect {
  height: 24px;
  margin-right: 8px;
  font-size: 12px !important;
  width: 70px;
}

.styledOptionText {
  font-size: 14px !important;
}
