.listHeader {
  display: flex;
  background-color: #ffffff;
  height: 8vh;
  justify-content: space-between;
  align-items: center;
  padding: 0px 12px;
  border-bottom: 1px solid #c5cfde;
}

.nameCell {
  font-size: 14px;
  color: #465465;
  width: 30%;
}

.privilegeStatusCell {
  font-size: 14px;
  color: #465465;
  width: 30%;
}
