.styledActiveSelect {
  background-color: #c7f6c7;
  border-radius: 24px !important;
  height: 20px;
  color: #139c72 !important;
  width: 96px;
  font-size: 13px !important;
}

.styledInactiveSelect {
  background-color: #d3d3d3;
  color: #080a0c !important;
  border-radius: 24px !important;
  height: 20px;
  width: 96px;
  font-size: 13px !important;
}

.styledMenuText {
  font-size: 13px !important;
}
