.createContainer {
  background-color: #ffffff;
  box-shadow: 0px 6px 12px #185ec414;
  border-radius: 12px;
  height: 100%;
  margin-bottom: 20px;
}

.headerTextStyle {
  margin-left: 12px;
  font-size: 18px;
  color: #465465;
  font-weight: 600;
}

.formHeaderStyle {
  padding: 16px 0px 0px 8px;
  display: flex;
  align-items: baseline;
}

.borderBottom {
  border-bottom: 1px solid #c5cfde;
}

.subHeader {
  display: flex;
  align-items: center;
}

.headerPara {
  color: #465465;
  font-size: 14px;
  padding: 16px 16px;
}

.labelText {
  color: #566475;
  font-size: 14px;
}

.styledRequired {
  color: #ff6262;
}

.fieldContainerStyle {
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
}

.formContainer {
  margin: 20px 20px;
}

.buttonContainer {
  padding-right: 16px;
  display: flex;
  flex-wrap: wrap;
}

.formMainContainer {
  margin-bottom: 12px;
}
