.listHeader {
  display: flex;
  background-color: #ffffff;
  height: 8vh;
  justify-content: space-between;
  align-items: center;
  padding: 0px 12px;
  border-bottom: 1px solid #c5cfde;
}

.listCell {
  font-size: 13px;
  color: #465465;
}

.nameCell {
  font-size: 14px;
  color: #465465;
  width: 15%;
}

@media (max-width: 600px) {
  .nameCell {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.privilegeTypeCell {
  font-size: 14px;
  color: #465465;
  width: 8%;
}

.privilegeStatusCell {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #465465;
  width: 15%;
}

.actionCell {
  width: 6%;
}

.styleSpan {
  margin-left: 12px;
}

.styledActiveSelect {
  font-size: 14px;
}

.styledError {
  color: #fd6262;
  font-size: 12px;
}

.SubmitContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.styledButton {
  margin-left: 12px !important;
}

.styledText {
  font-size: 16px;
  color: #465465;
}

.radioGroup {
  font-size: 12px !important;
}

.radioStyle {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.infoIconStyle {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  font-size: x-large;
}

.iconStyle {
  font-size: 40px;
  color: #fd6262;
}

.createdAt {
  font-size: 14px;
  color: #465465;
  width: 15%;
}
