.customSelect {
    background-color: #DEE2E6;
    border-radius: 9999px;
    width: 3rem;
    color: #607083;
    border: none;
    outline: none;
  }
  
  .customSelect option {
    color: #607083;
  }